
/* Your CSS Code here. */


.moviePic {
    height: 400px;
    width: auto;
    opacity: 0.9;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}
	


.movieDetail{
	position: relative;
	top:20px;
	width:100px;
	text-align:center;
	font-size:30px;
}

.movie-container {
    text-align: center;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    width: 60%;
    max-width: 600px;
}

.moviePic:hover {
    opacity: 1;
}